@model RedCloud.ViewModel.OrganizationAdminVM;
@using RedCloud.ViewModel;

@{
    var selectedCountryId = Model.CountryId;
    var selectedStateId = Model.StateId;
    var selectedCityId = Model.CityId;
    IEnumerable<CountryVM> countries = (IEnumerable<CountryVM>)ViewBag.Country;
    IEnumerable<StateVM> states = (IEnumerable<StateVM>)ViewBag.State;
    IEnumerable<CityVM> cities = (IEnumerable<CityVM>)ViewBag.City;

    IEnumerable<SelectListItem> countrySelectList = countries.Select(c => new SelectListItem
            {
                Value = c.CountryId.ToString(),
                Text = c.Name,
                Selected = c.CountryId == selectedCountryId

            });
    IEnumerable<SelectListItem> stateSelectList = states.Select(c => new SelectListItem
            {
                Value = c.StateId.ToString(),
                Text = c.Name,
                Selected = c.StateId == selectedStateId

            });
    IEnumerable<SelectListItem> citySelectList = cities.Select(c => new SelectListItem
            {
                Value = c.CityId.ToString(),
                Text = c.Name,
                Selected = c.CityId == selectedCityId

            });


}


<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update Organization Admin</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="UpdateOrganizationAdmin" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="hidden" asp-for="OrgID" />

                                        <label for="OrgName">Organization Name</label>
                                        <input asp-for="OrgName" class="form-control" id="OrgName" placeholder="Enter organization name">
                                        <span asp-validation-for="OrgName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="OrgAdminName">Admin Name</label>
                                        <input asp-for="OrgAdminName" class="form-control" />
                                        <span asp-validation-for="OrgAdminName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="EIN">EIN Number</label>
                                        <input asp-for="EIN" class="form-control" id="EIN" placeholder="Enter EIN Number">
                                        <span asp-validation-for="EIN" class="text-danger"></span>
                                    </div>

                                   

                                    <div class="form-group">
                                        <label asp-for="OrgAdminEmail">Admin Email</label>
                                        <input asp-for="OrgAdminEmail" class="form-control" />
                                        <span asp-validation-for="OrgAdminEmail" class="text-danger"></span>
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="OrgAdminMobNo">Admin Mobile Number</label>
                                        <input asp-for="OrgAdminMobNo" class="form-control" />
                                        <span asp-validation-for="OrgAdminMobNo" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="AddressLineOne">Address Line 1</label>
                                        <input asp-for="AddressLineOne" class="form-control" />
                                        <span asp-validation-for="AddressLineOne" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="AddressLineTwo">Address Line 2</label>
                                        <input asp-for="AddressLineTwo" class="form-control" />
                                        <span asp-validation-for="AddressLineTwo" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-6">


                                    <div id="country">
                                    @Html.Partial("_CountryDropDown", countrySelectList)
                                        <span asp-validation-for="CountryId" class="text-danger"></span>

                                    </div>

                                    <div id="states">
                                    

                                        @Html.Partial("_StateDropDown", stateSelectList)
                                        <span asp-validation-for="StateId" class="text-danger"></span>


                                    </div>



                                    <div id="cities">


                                        @Html.Partial("_CityDropDown", citySelectList)
                                        <span asp-validation-for="CityId" class="text-danger"></span>



                                    </div>


                                    <div class="form-group">
                                        <label asp-for="ZipCode">Zip Code</label>
                                        <input asp-for="ZipCode" class="form-control" />
                                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="OrgURL">Organization URL</label>
                                        <input asp-for="OrgURL" class="form-control" />
                                        <span asp-validation-for="OrgURL" class="text-danger"></span>
                                    </div>

                                    <label for="ResellerName">Reseller Name</label>

                                    <select asp-for="ResellerId" class="form-control">
                                        @{
                                            foreach (var item in ViewBag.ResellerList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="ResellerName" class="text-danger"></span>



                                </div>
                            </div>
                        </div>
                        <a class="btn btn-primary ml-3" style="float:right; margin-right:20px; margin-bottom:20px;background-color:grey; border:none; width: 100px;"
                         asp-action="ViewOrganizationAdmin" asp-controller="OrganizationAdmin">Back</a>

                        <button type="submit" class="btn btn-primary ml-3" style="float:right; margin-bottom:20px; width: 100px;">Update</button>

                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        <script>





            $(document).ready(function () {
                $('#countryDropDown').change(function () {
                    var countryId = $('#countryDropDown').val();
                    $.ajax({
                        url: '@Url.Action("GetStateByCountryId", "Dropdown")',
                        data: { countryId: countryId },
                        type: 'GET',
                        success: function (data) {
                            $('#states').empty();
                            $('#cityDropdown').empty();
                            $('#cityDropdown').append("<option>Select a city</option>");

                            $('#states').append(data);
                        }
                    });
                });

            });




            function getallCitys() {
                // alert("METHOD CALLED")
                var stateId = $('#stateDropDown').val();

                $.ajax({

                    url: '@Url.Action("GetCityByStateId", "Dropdown")',
                    data: { stateId: stateId },
                    type: 'GET',
                    success: function (data) {
                        $('#cities').empty();
                        $('#cities').append(data);

                    }
                });
            }





        </script>
    }
</body>


