@model IEnumerable<RedCloud.ViewModel.AllOrganizationAdminVM>

@{
    ViewData["Title"] = "ViewOrganizationAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #dataTable {
        width: 100% !important;
    }

    .display-none {
        display: none;
    }

    /* .dt-search, .dt-info, .dt-paging */

    .dt-search {
        float: right;
        margin-bottom: 2px;
    }

</style>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Manage Organization </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div id="dataTable_wrapper tabel table-resposnive" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <a class="btn btn-primary" asp-action="AddOrganizationAdmin" asp-controller="OrganizationAdmin"
                           style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                            Add Organization
                        </a>
                        @*  <a asp-action="">Create New</a> *@

                    </p>
                    <table id="dataTable" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="dataTable_info">
                        <thead>
                            <tr>
                                @* <th class="display-none">Id</th> *@
                                <th>Organization Name</th>
                                <th>EIN</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @* <td>@Html.DisplayFor(modelItem => item.OrgID)</td> *@
                                    @* <td class="display-none">@item.OrgID</td>  *@
                                    <td>@Html.DisplayFor(modelItem => item.OrgName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EIN)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OrgAdminEmail)</td>
                                    <td>@((bool)item.IsActive ? "Active" : "Not Active")</td>
                                    <td>
                                        <a asp-action="ViewOrganizationDetails" asp-controller="OrganizationAdmin" asp-route-id="@item.OrgID" class="mr-2">
                                            <i class="fa-solid fa-eye" style="color: #050505;"></i>
                                        </a>

                                        <a asp-action="UpdateOrganizationAdmin" asp-controller="OrganizationAdmin" asp-route-id="@item.OrgID" class="mr-2">
                                            <i class="fa-regular fa-pen-to-square" style="color: #131111;"></i>
                                        </a>

                                        <a class="delete-btn" data-id="@item.OrgID" data-name="@item.OrgName" href="#">
                                            <i class="fa-solid fa-trash" style="color: #cb1010;"></i>
                                        </a>

                                        @*                                         <a asp-action="GetOrganizationAdminById" asp-controller="OrganizationAdmin" asp-route-id="@item.OrgID">
                                    <i class="fa-solid fa-eye" style="color: #050505;"></i></a>

                                    <a asp-action="" asp-controller=""><i class="fa-regular fa-pen-to-square" style="color: #131111;"></i></a>
                                    <a class="delete-btn" data-id="@item.OrgID" data-name="@item.OrgName" href="#"><i class="fa-solid fa-trash" style="color: #cb1010;"></i></a>
                                    *@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" id="cancelBtn" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span id="deleteItemName"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#dataTable').DataTable({
                paging: true,
                searching: true,
                dom: 'Bfrtip',
                buttons: [
                    'excelHtml5'
                ]
            });

            // Event listeners for delete functionality
            $('.delete-btn').on('click', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var name = $(this).data('name');
                $('#deleteItemName').text(name);
                $('#confirmDeleteBtn').attr('data-id', id);
                $('#deleteConfirmationModal').modal('show');
            });

            $('#cancelBtn').on('click', function (e) {
                $('#deleteConfirmationModal').modal('hide');
            });

            $('#confirmDeleteBtn').on('click', function () {
                var id = $(this).attr('data-id');
                $('#deleteConfirmationModal').modal('hide');
                // Call delete method using AJAX
                $.get('/OrganizationAdmin/SoftDelete/' + id)
                    .done(function (data) {
                        // Handle success
                        alert(data);
                        // Optionally, you can reload the page or update the table
                        location.reload();
                    })
                    .fail(function (xhr, status, error) {
                        // Handle errors
                        alert('Error: ' + xhr.responseText);
                    });
            });
        });
    </script>
}
