@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<SelectListItem>

<label for="cityDropDown" class="dropdown">City</label>
<select id="cityDropdown" name="CityId" class="form-control">
    <option value="">Select a city</option>
    @if (Model.Count() > 0)
    {
        @foreach (var city in Model)
        {
            <option value="@city.Value" selected="@city.Selected">@city.Text</option>
        }
    }

</select>

@* @model List<RedCloud.Models.CityVM> *@

@* <select id="cityDropdown" name="CityId" class="form-control">
    <option value="">Select a city</option>
    @foreach (var city in Model)
    {
        <option value="@city.CityId">@city.Name</option>
    }

</select> *@


@* @model List<RedCloud.Models.CityVM>


<div class="form-group">
    <label for="cityDropdown" class="dropdown">City</label>
    <select id="cityDropdown" name="CityId" class="form-control">
        <option value="">Select a city</option>
        @if (Model.Count > 0)
        {
            @foreach (var city in Model)
            {
                <option value="@city.CityId">@city.Name</option>
            }
        }
    </select>
</div> *@


