
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@







@* @model IEnumerable<SelectListItem>

<label for="countryDropDown" class="dropdown">Country</label>
<select id="countryDropDown" name="CountryId" class="form-control">
    <option value="">Select a country</option>
 @foreach (var country in Model)
    {
        <option value="@country.Value" selected="@country.Selected">@country.Text</option>
    }

</select> *@


@model IEnumerable<CountryVM>

<label for="countryDropDown" class="dropdown">Country</label>
<select id="countryDropDown" name="CountryId" class="form-control">
    <option value="">Select a country</option>
    @foreach (var country in Model)
    {
        <option value="@country.CountryId">@country.Name</option>
    }

</select>

