@model RedCloud.Application.Features.Numbers.Queries.ViewAssignedNumberVM

@{
    ViewData["Title"] = "UpdateAssignedNumber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UpdateAssignedNumber</h1>

<h4>ViewAssignedNumberVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAssignedNumber">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberId" class="control-label"></label>
                <input asp-for="NumberId" class="form-control" />
                <span asp-validation-for="NumberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateCenter" class="control-label"></label>
                <input asp-for="RateCenter" class="form-control" />
                <span asp-validation-for="RateCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeName" class="control-label"></label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LATA" class="control-label"></label>
                <input asp-for="LATA" class="form-control" />
                <span asp-validation-for="LATA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateName" class="control-label"></label>
                <input asp-for="StateName" class="form-control" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarrierName" class="control-label"></label>
                <input asp-for="CarrierName" class="form-control" />
                <span asp-validation-for="CarrierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResellerAdminUserId" class="control-label"></label>
                <input asp-for="ResellerAdminUserId" class="form-control" />
                <span asp-validation-for="ResellerAdminUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResellerName" class="control-label"></label>
                <input asp-for="ResellerName" class="form-control" />
                <span asp-validation-for="ResellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgID" class="control-label"></label>
                <input asp-for="OrgID" class="form-control" />
                <span asp-validation-for="OrgID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgName" class="control-label"></label>
                <input asp-for="OrgName" class="form-control" />
                <span asp-validation-for="OrgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentTypeId" class="control-label"></label>
                <input asp-for="AssignmentTypeId" class="form-control" />
                <span asp-validation-for="AssignmentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentTypeName" class="control-label"></label>
                <input asp-for="AssignmentTypeName" class="form-control" />
                <span asp-validation-for="AssignmentTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampaignId" class="control-label"></label>
                <input asp-for="CampaignId" class="form-control" />
                <span asp-validation-for="CampaignId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

            ===========================
            @using RedCloud.ViewModel;

@{
    var selectedCountryId = Model.CountryId;
    var selectedStateId = Model.StateId;
    
    IEnumerable<CountryVM> countries = (IEnumerable<CountryVM>)ViewBag.Country;
    IEnumerable<StateVM> states = (IEnumerable<StateVM>)ViewBag.State;
    
    IEnumerable<SelectListItem> countrySelectList = countries.Select(c => new SelectListItem
            {
                Value = c.CountryId.ToString(),
                Text = c.Name,
                Selected = c.CountryId == selectedCountryId

            });
    IEnumerable<SelectListItem> stateSelectList = states.Select(c => new SelectListItem
            {
                Value = c.StateId.ToString(),
                Text = c.Name,
                Selected = c.StateId == selectedStateId

            });
   


}


<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update Organization Admin</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="UpdateOrganizationAdmin" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="hidden" asp-for="NumberId" />
                                        <input type="hidden" asp-for="NumberId" />

                               
                                <div class="col-md-6">


                                    <div id="country">
                                        @Html.Partial("_CountryDropDown", countrySelectList)
                                        <span asp-validation-for="CountryId" class="text-danger"></span>

                                    </div>

                                    <div id="states">


                                        @Html.Partial("_StateDropDown", stateSelectList)
                                        <span asp-validation-for="StateId" class="text-danger"></span>


                                    </div>



                                    <label for="ResellerName">Reseller Name</label>

                                    <select asp-for="ResellerAdminUserId" class="form-control">
                                        @{
                                            foreach (var item in ViewBag.ResellerList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>

                                    <span asp-validation-for="ResellerName" class="text-danger"></span>

                                    <label for="OrgName">Organization Name</label>

                                    <select asp-for="OrgID" class="form-control">
                                        @{
                                            foreach (var item in ViewBag.Orgadmin)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>

                                    <span asp-validation-for="OrgName" class="text-danger"></span>

                                    <label for="TypeName">Type Name</label>

                                    <select asp-for="TypesId" class="form-control">
                                        @{
                                            foreach (var item in ViewBag.Typelist)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="TypeName" class="text-danger"></span>


                                    <label for="Assignmentname">AssignmentName</label>

                                    <select asp-for="AssignmentTypeId" class="form-control">
                                        @{
                                            foreach (var item in ViewBag.Assignmenttype)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="AssignmentTypeName" class="text-danger"></span>

                                    <label for="CarrierName">CarrierName</label>

                                    <select asp-for="CarrierId" class="form-control">
                                        @{
                                            foreach (var item in ViewBag.AdminList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="CarrierName" class="text-danger"></span>



                                   
                                        <label for="CampaignId">CampaignId</label>
                                        <select asp-for="CampaignId" class="form-control" asp-items="@(ViewBag.Campaignlist as SelectList)" required>
                                            <option value="">Select CampaignId</option>
                                        </select>

                                        <span asp-validation-for="CampaignId" class="text-danger"></span>
                             

                                    <div class="form-group" id="datepicker">
                                        <label for="StartDate">
                                            Start Date

                                        </label>
                                        <input asp-for="StartDate" type="date" class="form-control datepicker" id="date" placeholder="Select start date" required>
                                        <span asp-validation-for="StartDate" class="text-danger"></span>

                                    </div>


                                    <div class="form-group" id="datepicker1">
                                        <label for="EndDate">End Date</label>
                                        <input asp-for="EndDate" type="date" class="form-control datepicker"
                                               id="date2" placeholder="Select end date" required>
                                        <span asp-validation-for="EndDate" class="text-danger"></span>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary ml-3">Update</button>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        <script>





            $(document).ready(function () {
                $('#countryDropDown').change(function () {
                    var countryId = $('#countryDropDown').val();
                    $.ajax({
                        url: '@Url.Action("GetStateByCountryId", "Dropdown")',
                        data: { countryId: countryId },
                        type: 'GET',
                        success: function (data) {
                            $('#states').empty();
                            $('#cityDropdown').empty();
                            $('#cityDropdown').append("<option>Select a city</option>");

                            $('#states').append(data);
                        }
                    });
                });

            });




            function getallCitys() {
                alert("METHOD CALLED")
                var stateId = $('#stateDropDown').val();

                $.ajax({

                    url: '@Url.Action("GetCityByStateId", "Dropdown")',
                    data: { stateId: stateId },
                    type: 'GET',
                    success: function (data) {
                        $('#cities').empty();
                        $('#cities').append(data);

                    }
                });
            }





        </script>
    }
</body>

